

.servicepage{
  min-height: 100vh;
}
.service-box >div>div{
  height: 300px;
  border-radius: 15px;
}
.service-img>div{
  height: 350px;

}

.card-img{
  height: 180px;
  animation: cardimg 25s  ;
}
.container .card{
 width: 330px;
  background: #90e9ec;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
transition: all 0.5s ease-in-out;
}
.container .card:hover{
  transform: scale(1.05) !important;
  transition: all 0.5s ease-in-out;
  background-color: #a3e4d7;
  box-shadow: none;
  cursor: pointer;
  }
  .card:hover .card-img{
    /* height: 200px; */
    transform: translateY(-45px) !important;
    transition: all 0.5s ease-in-out !important;
    padding-bottom: 0;
    }
    .cardtext h4{

      transition: all 0.5s ease-out !important;
      font-weight: 600;
    }
    .card:hover .cardtext h4{
      transition: all 0.5s;
 transform: translateX(20%);
  color: rgb(5, 81, 81);
      }

      .child-service > .card  {
        width: 200px;
        height: 200px;
      }

      .child-service > .card{
       
         background: #95eaec;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
       transition: all 0.5s ease-in-out;
       }

       .child-service > .card:hover{
        transform:translateY(-10px) !important;
        transition: all 0.5s ease-in-out;
        background-color: #a3e4d7;
        box-shadow: none;
        cursor: pointer;
        }
        .child-service > .card:hover .sub-service-text{
          color: #0d7275;
          }


a .card-button:hover{
  box-shadow: 0 0 15px #03F2FA;
  background:  rgba(3,242,250,1);
  border: solid 1px #03F2FA;
}
 .sub-service-text{
  font-size: 15px;
 }      

@media only screen and (max-width: 500px) {
  
  .service-img>div{
    height: 250px;
  
  }
  .sub-serv-img >img{
    height: 120px;
  
  }
} 
@media only screen and (max-width: 400px) {
 
  .child-service > .card  {
    width: 150px !important;
    height: 140px !important;
  }
  .child-service  .last  .card  {
    background-color: aliceblue;
    width: 150px !important;
    height: 150px !important;
  }
  .sub-service-text{
    font-size: 11px;
   } 
} 